body{
    background-color: #EAEDED  
}

.navbar {
    background-color: white;
    overflow: hidden;
    padding: 0px;
  }

  .navbar a {
    float: left;
    background-color: #3FA0A0;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
    font-family: "Times New Roman", Times, serif;
  }

  .nav-item a{
    background-color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: grey;
    border: 0px;
  }

  #dataMargin{
      margin-right: 50px;
      margin-left: 0px;
  }

  #comparisonMargin{
    margin-left: 0px;
  }

  #container1{
      background-color: white;
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 50px;
      height: 600px;
      width: 1000px;
  }

  #container2{
    background-color: white;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 50px;
    height: 550px;
    width: 500px;
}

#footer1{
    text-align: center;
    padding-top: 50px;
    background-color: #595B5B;
    color: white;
    margin-top: 60px;
    height: 125px;
}

#headermain{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #3FA0A0;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

#img1{
  padding-top: 75px;
  height: 265px;
  width: 315px;
}

.paragraphs{
  color: #595B5B;
  font-size: 14pt;
  padding-left: 75px;
  padding-right: 75px;
}

.imglinks{
  height: 17%;
  width: 100%;
}